.form {
   max-width: 823px;
}

.form__heading {
   display: flex;
   column-gap: 110px;
   margin-bottom: 20px;

   /* Mobile */
   @media (max-width: 599px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 20px;
   }
}
.form__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 1.04;
   color: #000000;
}
.form__subtitle {
   max-width: 367px;
   font-weight: 400;
   font-size: 17px;
   line-height: 1.47;
   color: #000000;

   /* Mobile */
   @media (max-width: 599px) {
      text-align: center;
      font-size: 16px;
   }
}
.form__inputs {
   display: flex;
   justify-content: space-between;
   margin-bottom: 22px;
   input {
      position: relative;
      padding: 16px 18px;
      width: 260px;
      height: 55px;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.26);
      border-radius: 4px;

      font-weight: 400;
      font-size: 18px;
      line-height: 1.47;
      color: rgb(0, 0, 0);
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: column;
      row-gap: 15px;

      input {
         width: 70%;
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      input {
         width: 100%;
      }
   }
}

.form__name {
   padding: 16px 26px;
}
.form__tel {
}
.form__email {
}
.form__message {
   margin-bottom: 22px;
   width: 823px;
   height: 150px;

   padding: 26px 20px;

   background-color: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.26);
   border-radius: 4px;

   font-weight: 400;
   font-size: 18px;
   line-height: 1;
   color: rgb(0, 0, 0);

   &:focus {
      outline: none;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      width: 100%;
   }
}

.form__btn {
   height: 68px;
   padding: 0 85px;
   background-color: #10797f !important;
   border-radius: 4px;

   font-weight: 700;
   font-size: 24px;
   line-height: 68px;
   color: #e7eaee;
   transition: 0.2s linear;

   &:hover,
   :focus {
      background-color: #0e979f !important;
      color: #fff;
   }

   &:active {
      background-color: #156e72 !important;
   }

   /* Mobile */
   @media (max-width: 599px) {
      padding: 0 60px;
      line-height: 1.04;
   }
}

.contact-form__success {
   color: #000;
   font-size: 30px;
   font-weight: 700;

   /* Tablet Small*/
   @media (max-width: 899px) {
      font-size: 25px;
   }

   /* Mobile */
   @media (max-width: 599px) {
      font-size: 20px;
      text-align: center;
   }
}

.form__inputs-wrapper {
   position: relative;
}

.form__message-wrapper {
   position: relative;
}

label.error {
   position: absolute;
   top: 0;
   left: 18px;
   color: red;
}
