.nav-menu {
   display: none;
}

/* Tablet Small*/
@media (max-width: 899px) {
   .nav-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 320px;
      background-color: #fff;
      opacity: 0;
      z-index: 6;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      row-gap: 15px;
      padding: 12% 10% 20px;
      transition: all 0.2s ease-in;

      transform: translateX(100%);

      /* Tablet Small*/
      @media (max-width: 699px) {
         padding: 20% 10% 20px;
      }

      /* Tablet Small*/
      @media (max-width: 499px) {
         padding: 20% 20% 20px;
      }

      /* Mobile Small */
      @media (max-width: 374px) {
         width: 100%;
         padding: 25% 20% 20px;
      }

      /* Mobile Small */
      @media (max-width: 319px) {
         padding: 25% 15% 20px;
      }
   }
   .nav-menu__item {
      padding-bottom: 10px;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      text-align: center;
      width: 100%;

      border-bottom: 1px solid #a1a1a1;

      &:visited {
         color: #000000;
      }

      /* Mobile */
      @media (max-width: 499px) {
         font-size: 16px;
      }

      /* Mobile Small */
      @media (max-width: 374px) {
         font-size: 14px;
      }
   }

   .nav-menu.active {
      transform: translateX(0);
      opacity: 1;
      overflow-y: scroll;
   }
}

.overlay {
   display: none;
   background-color: rgba(0, 0, 0, 0.7);
   height: 100%;
   position: fixed;
   width: 100%;
   z-index: 10;
   z-index: 5;
   transition: 0.2s ease-in-out;
}

.overlay.active {
   display: block;
}
