.collaboration {
   padding: 50px 0 70px;
   .geo {
      display: flex;
   }

   /* Mobile */
   @media (max-width: 599px) {
      padding: 32px 0 70px;
   }
}

.collaboration__row {
   display: flex;
   justify-content: space-between;

   /* Tablet Big */
   @media (max-width: 1200px) {
      column-gap: 10px;
   }

   /* Tablet Big */
   @media (max-width: 1159px) {
      flex-direction: column;
   }
}

.collaboration__contacts {
   /* Tablet Big */
   @media (max-width: 1159px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: row;
      align-items: center;
      column-gap: 30px;
   }

   /* Mobile */
   @media (max-width: 599px) {
      flex-direction: column;
      row-gap: 21px;
   }
}

.collaboration__contacts-wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   margin-bottom: 35px;
   padding-top: 30px;

   .collaboration__email {
      display: none;
   }

   /* Tablet Big */
   @media (max-width: 1159px) {
      padding-top: 0;
      row-gap: 20px;
      margin-bottom: 0;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: column;
      row-gap: 10px;

      .contacts {
         flex-direction: column;
         align-items: flex-start;
         row-gap: 20px;
      }
   }

   /* Mobile */
   @media (max-width: 599px) {
      row-gap: 21px;
      .collaboration__email {
         display: inline-block;
      }

      .contacts {
         align-items: center;
      }

      .contacts__row {
         display: flex;
         flex-direction: column;
         row-gap: 12px;
         align-items: center;
      }
   }
}

.collaboration__addres-wrapper {
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   align-items: flex-start;

   /* Tablet Big */
   @media (max-width: 1159px) {
      row-gap: 20px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: column;
   }
}

.collaboration__email {
   display: inline-block;
   font-weight: 700;
   font-size: 24px;
   line-height: 31px;
   display: flex;
   align-items: center;
   color: #0094b7 !important;
   text-decoration-color: transparent;
   transition: text-decoration-color 0.3s;

   &:hover,
   :focus {
      text-decoration: underline;
   }

   &:active {
      text-decoration: underline;
   }

   /* Mobile */
   @media (max-width: 599px) {
      display: none;
   }
}

.props {
   display: none;
}

.props.active {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 6;

   display: flex;
   justify-content: center;
   align-items: center;
}
.props__content {
   position: relative;
   width: 60%;
   height: 80%;
   background-color: #ffffff;
   overflow-y: scroll;

   padding: 15px;

   font-weight: 300;
   font-size: 17px;
   line-height: 1.47;
   color: #ffffff;

   /* Tablet Small*/
   @media (max-width: 899px) {
      width: 80%;
      height: 80%;
   }

   /* Mobile Small */
   @media (max-width: 319px) {
      overflow-x: scroll;
   }

   .props__close {
      position: absolute;
      top: 17px;
      right: 18px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 6;

      /* Mobile */
      @media (max-width: 414px) {
         right: 10px;
      }
      /* Mobile */
      @media (max-width: 392px) {
         right: 10px;
      }
      /* Mobile */
      @media (max-width: 386px) {
         top: 0;
      }
   }
}

.props__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 17px 31px 34px;
   background-color: #10797f;
   color: #ffffff;
}
.props__heading {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 24px;
   color: #ffffff;

   /* Tablet Small*/
   @media (max-width: 929px) {
      font-size: 24px;
   }

   /* Mobile */
   @media (max-width: 599px) {
      font-size: 22px;
   }

   /* Mobile Small */
   @media (max-width: 499px) {
      font-size: 20px;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 18px;
   }
}
.prop__list {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
   font-size: 17px;
   line-height: 1.47;

   /* Tablet Small*/
   @media (max-width: 929px) {
      font-size: 16px;
   }

   /* Mobile */
   @media (max-width: 499px) {
      font-size: 14px;
   }
   /* Mobile */
   @media (max-width: 499px) {
      font-size: 14px;
   }
   /* Mobile */
   @media (max-width: 359px) {
      font-size: 13px;
   }
   /* Mobile */
   @media (max-width: 329px) {
      font-size: 12px;
   }
}
.props__item {
   display: flex;
   align-items: center;
}
.props__item-first {
   position: relative;
   margin-right: 10px;

   &::after {
      content: ":";
      font-size: 17px;
   }
}
