.header-nav {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 5;
   background-color: #10797f;
   padding: 24px 0 20px;
   color: #ffffff;

   /* Tablet Small*/
   @media (max-width: 899px) {
      display: none;
   }
}

.nav-list {
   display: flex;
   justify-content: space-around;
}
.nav-list__icon a {
   font-weight: 400;
   font-size: 18px;
   text-decoration-color: transparent;
   transition: text-decoration-color 0.2s, color 0.2s linear;

   &:hover,
   :focus {
      text-decoration: underline;
   }

   &:active {
      color: #ffffffdd;
   }
}
